.attachment_container {
    display: flex;
    justify-content: end;

    .file_container {
        background-color: #dee2e6;
        border-radius: 5px;
        padding: 5px;
        width: 20%;

        .file_details_container {
            display: flex;
            flex-direction: row;

            .file_details {
                padding-left: 5px;
                width: 100%;

                .file_name {
                    text-align: left;
                    font-size: 80%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .file_download_container {
                    display: flex;
                    flex-direction: row;
                    align-items: end;
                    justify-content: space-between;

                    .file_extension {
                        font-size: 80%;
                        font-weight: 400;
                    }

                    .file_download_icon {
                        font-size: 80%;
                    }
                }
            }
        }
    }
}
