[Unit]
Description=Start Sync Directory
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/sync_directory_setup


Restart=always

[Install]
WantedBy=multi-user.target